@charset "UTF-8";
/* line 6, style.scss */
#page_title video {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}
/* line 15, style.scss */
#page_title h1 {
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  height: 0;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.2rem;
  color: #fff;
}
/* line 27, style.scss */
#page_title h1 .img_wrapper {
  max-width: 250px;
  margin-right: auto;
  margin-left: auto;
  transform: translateY(-50%);
  opacity: 0.7;
}
/* line 33, style.scss */
#page_title h1 .img_wrapper img {
  width: 100%;
  vertical-align: middle;
}

/* line 40, style.scss */
#main_contents {
  padding-top: 90px;
}
/* line 42, style.scss */
#main_contents section {
  margin-bottom: 120px;
}
/* line 44, style.scss */
#main_contents section .back_img_title {
  position: relative;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin-bottom: 60px;
}
@media (max-width: 760px) {
  /* line 44, style.scss */
  #main_contents section .back_img_title {
    background-attachment: scroll;
  }
}
/* line 54, style.scss */
#main_contents section .back_img_title:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
}
/* line 64, style.scss */
#main_contents section .back_img_title .inner {
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 0;
  right: 0;
}
/* line 70, style.scss */
#main_contents section .back_img_title .inner h1 {
  transform: translateY(-50%);
  text-align: center;
  color: #fff;
  letter-spacing: 4px;
  font-size: 5rem;
  font-weight: 600;
}
@media (max-width: 575px) {
  /* line 70, style.scss */
  #main_contents section .back_img_title .inner h1 {
    font-size: 3rem;
  }
}
/* line 80, style.scss */
#main_contents section .back_img_title .inner h1 span {
  position: relative;
  display: block;
  margin-top: 40px;
  font-size: 2rem;
}
@media (max-width: 575px) {
  /* line 80, style.scss */
  #main_contents section .back_img_title .inner h1 span {
    font-size: 1.5rem;
  }
}
/* line 89, style.scss */
#main_contents section .back_img_title .inner h1 span:before {
  content: "";
  display: block;
  position: absolute;
  top: -22px;
  right: 0;
  left: 0;
  width: 50px;
  height: 2px;
  margin-right: auto;
  margin-left: auto;
  background-color: #fff;
}
/* line 105, style.scss */
#main_contents section .separate {
  display: flex;
  flex-wrap: wrap;
  max-width: 1024px;
  margin-right: auto;
  margin-left: auto;
}
@media (max-width: 760px) {
  /* line 105, style.scss */
  #main_contents section .separate {
    display: block;
  }
}
/* line 114, style.scss */
#main_contents section .separate .left,
#main_contents section .separate .right {
  position: relative;
  display: inline-block;
  width: calc(50% - 30px);
  margin-right: 15px;
  margin-left: 15px;
}
@media (max-width: 760px) {
  /* line 114, style.scss */
  #main_contents section .separate .left,
  #main_contents section .separate .right {
    display: block;
    width: auto;
  }
}
@media (max-width: 760px) {
  /* line 125, style.scss */
  #main_contents section .separate .left .img_wrapper,
  #main_contents section .separate .right .img_wrapper {
    margin-top: 40px;
  }
}
/* line 131, style.scss */
#main_contents section .separate .left .script h1,
#main_contents section .separate .right .script h1 {
  line-height: 1.5;
  margin-bottom: 30px;
  font-size: 2.5rem;
  font-weight: 100;
}
@media (max-width: 575px) {
  /* line 131, style.scss */
  #main_contents section .separate .left .script h1,
  #main_contents section .separate .right .script h1 {
    font-size: 2rem;
  }
}
/* line 140, style.scss */
#main_contents section .separate .left .script p,
#main_contents section .separate .right .script p {
  line-height: 2;
  font-weight: 200;
  font-size: 1.5rem;
}
@media (max-width: 575px) {
  /* line 140, style.scss */
  #main_contents section .separate .left .script p,
  #main_contents section .separate .right .script p {
    font-size: 1.2rem;
  }
}
/* line 148, style.scss */
#main_contents section .separate .left .script .button,
#main_contents section .separate .right .script .button {
  padding-right: 0;
  padding-left: 0;
  margin-top: 40px;
}
/* line 155, style.scss */
#main_contents section .separate .left {
  right: 50%;
}
@media (max-width: 760px) {
  /* line 155, style.scss */
  #main_contents section .separate .left {
    right: auto;
  }
}
/* line 161, style.scss */
#main_contents section .separate .left .img_wrapper .small_img {
  margin-right: 15px;
}
/* line 166, style.scss */
#main_contents section .separate .left.clear {
  right: auto;
}
/* line 169, style.scss */
#main_contents section .separate .right {
  right: -50%;
}
@media (max-width: 760px) {
  /* line 169, style.scss */
  #main_contents section .separate .right {
    right: auto;
  }
}
/* line 176, style.scss */
#main_contents section .separate .right .description {
  text-align: right;
}
/* line 180, style.scss */
#main_contents section .separate .right.clear {
  right: auto;
}
/* line 184, style.scss */
#main_contents section .music_list {
  max-width: 760px;
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
  line-height: 2;
  font-size: 1.6rem;
}
/* line 193, style.scss */
#main_contents section .music_list .column {
  margin-bottom: 60px;
}
/* line 195, style.scss */
#main_contents section .music_list .column h1 {
  margin-bottom: 20px;
  font-size: 3rem;
  letter-spacing: 0.5em;
}
@media (max-width: 575px) {
  /* line 195, style.scss */
  #main_contents section .music_list .column h1 {
    font-size: 2rem;
  }
}
/* line 202, style.scss */
#main_contents section .music_list .column h1 span {
  position: relative;
  padding-bottom: 10px;
}
/* line 205, style.scss */
#main_contents section .music_list .column h1 span:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 85%;
  height: 1px;
  background-color: #000;
}
/* line 216, style.scss */
#main_contents section .music_list .column iframe {
  width: 100%;
}
@media (max-width: 575px) {
  /* line 216, style.scss */
  #main_contents section .music_list .column iframe {
    height: 230px;
  }
}
/* line 224, style.scss */
#main_contents section .news_list {
  max-width: 575px;
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
  line-height: 2;
  font-size: 1.6rem;
}
/* line 233, style.scss */
#main_contents section .news_list .column {
  padding-bottom: 20px;
  border-bottom: solid 1px #ddd;
  margin-bottom: 15px;
}
/* line 237, style.scss */
#main_contents section .news_list .column .day {
  display: inline-block;
  width: 140px;
  float: left;
  letter-spacing: 0.1rem;
}
@media (max-width: 575px) {
  /* line 237, style.scss */
  #main_contents section .news_list .column .day {
    display: block;
    width: auto;
    float: none;
  }
}
/* line 248, style.scss */
#main_contents section .news_list .column .title {
  display: inline-block;
  width: 405px;
  text-align: justify;
}
@media (max-width: 575px) {
  /* line 248, style.scss */
  #main_contents section .news_list .column .title {
    display: block;
    width: auto;
  }
}
/* line 259, style.scss */
#main_contents section .background {
  height: 200px;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
/* line 266, style.scss */
#main_contents section .column_list {
  display: flex;
  flex-wrap: wrap;
  max-width: 1024px;
  margin-top: 60px;
  margin-right: auto;
  margin-left: auto;
}
@media (max-width: 760px) {
  /* line 266, style.scss */
  #main_contents section .column_list {
    display: none;
  }
}
/* line 276, style.scss */
#main_contents section .column_list .one_column {
  display: inline-block;
  width: calc(33.33% - 20px);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
}
/* line 284, style.scss */
#main_contents section .column_list .one_column .img_wrapper {
  position: relative;
  width: 100%;
  margin: auto;
  overflow: hidden;
  z-index: 1;
}
/* line 290, style.scss */
#main_contents section .column_list .one_column .img_wrapper img {
  width: 100%;
  vertical-align: middle;
  transition-duration: 0.3s;
}
/* line 296, style.scss */
#main_contents section .column_list .one_column .text_wrapper {
  padding-top: 30px;
  padding-right: 15px;
  padding-bottom: 30px;
  padding-left: 15px;
  color: #444;
}
/* line 302, style.scss */
#main_contents section .column_list .one_column .text_wrapper h2,
#main_contents section .column_list .one_column .text_wrapper h1 {
  text-align: center;
}
/* line 306, style.scss */
#main_contents section .column_list .one_column .text_wrapper h2 {
  color: #e83929;
  font-size: 1.2rem;
}
/* line 310, style.scss */
#main_contents section .column_list .one_column .text_wrapper h1 {
  line-height: 2;
  font-size: 2rem;
  font-weight: 100;
  text-align: center;
}
@media (max-width: 575px) {
  /* line 310, style.scss */
  #main_contents section .column_list .one_column .text_wrapper h1 {
    margin-top: 10px;
  }
}
/* line 319, style.scss */
#main_contents section .column_list .one_column .text_wrapper p {
  line-height: 1.5;
  font-size: 1.2rem;
}
/* line 323, style.scss */
#main_contents section .column_list .one_column .text_wrapper a {
  display: block;
  max-width: 200px;
  line-height: 30px;
  background-color: #ccc;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Open Sans', Helvetica, "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-size: 1.5rem;
  color: #444;
  text-align: center;
}
/* line 338, style.scss */
#main_contents section .column_list.slide {
  display: none;
}
@media (max-width: 760px) {
  /* line 338, style.scss */
  #main_contents section .column_list.slide {
    display: block;
  }
}
/* line 343, style.scss */
#main_contents section .column_list.slide .one_column {
  display: block;
  width: calc(100% - 100px);
}
/* line 349, style.scss */
#main_contents section .img {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 60px;
  margin-right: auto;
  margin-left: auto;
}
/* line 358, style.scss */
#main_contents section .img .panel {
  display: inline-block;
  width: 50%;
}
@media (max-width: 760px) {
  /* line 358, style.scss */
  #main_contents section .img .panel {
    width: 100%;
  }
}
/* line 366, style.scss */
#main_contents section .adress {
  margin-top: 60px;
  margin-bottom: 60px;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 200;
}
/* line 374, style.scss */
#main_contents section .map iframe {
  width: 100%;
  vertical-align: middle;
}
/* line 379, style.scss */
#main_contents section .button {
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 60px;
}
/* line 383, style.scss */
#main_contents section .button a {
  display: block;
  max-width: 400px;
  line-height: 60px;
  border: 2px solid #333;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Open Sans', Helvetica, "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-size: 2.5rem;
  color: #333;
  text-align: center;
}
@media (max-width: 760px) {
  /* line 383, style.scss */
  #main_contents section .button a {
    max-width: 300px;
    line-height: 40px;
    font-size: 2rem;
  }
}
/* line 400, style.scss */
#main_contents section .button a:hover {
  background-color: #333;
  color: #fff;
}
