@charset "UTF-8";
/* line 4, common.scss */
#page_title {
  position: relative;
}
/* line 6, common.scss */
#page_title video {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}
/* line 15, common.scss */
#page_title h2 {
  position: absolute;
  top: 40px;
  left: 100px;
  font-size: 3.5rem;
  color: #fff;
  font-family: 'Audiowide', cursive;
}
@media (max-width: 760px) {
  /* line 15, common.scss */
  #page_title h2 {
    top: 7px;
    left: 20px;
  }
}
/* line 27, common.scss */
#page_title h1 {
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  height: 0;
  transform: translateY(-50%);
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.2rem;
  color: #fff;
}
/* line 40, common.scss */
#page_title h1 .big {
  display: inline-block;
  transform: translateY(-50%);
  font-size: 3rem;
  text-align: center;
  font-family: 'Courier Prime', Helvetica, "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
}
/* line 47, common.scss */
#page_title h1 .big::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  width: 80%;
  height: 4px;
  background-color: #fff;
  margin: auto;
}
/* line 58, common.scss */
#page_title h1 .small {
  display: block;
  font-size: 1.5rem;
}

/* line 64, common.scss */
#main_contents {
  padding-top: 90px;
}
/* line 66, common.scss */
#main_contents section {
  margin-bottom: 120px;
}
/* line 68, common.scss */
#main_contents section .section_title {
  font-family: 'Courier Prime', Helvetica, "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  position: relative;
  text-align: center;
  color: #240402;
  letter-spacing: 4px;
  font-size: 2.6rem;
  font-weight: 400;
}
@media (max-width: 575px) {
  /* line 68, common.scss */
  #main_contents section .section_title {
    font-size: 2rem;
  }
}
/* line 79, common.scss */
#main_contents section .section_title span {
  position: relative;
  display: block;
  margin-top: 40px;
  font-size: 1.4rem;
}
@media (max-width: 575px) {
  /* line 79, common.scss */
  #main_contents section .section_title span {
    font-size: 1.2rem;
  }
}
/* line 88, common.scss */
#main_contents section .section_title span:before {
  content: "";
  display: block;
  position: absolute;
  top: -22px;
  right: 0;
  left: 0;
  width: 50px;
  height: 2px;
  margin-right: auto;
  margin-left: auto;
  background-color: #000;
}
/* line 102, common.scss */
#main_contents section .contact {
  position: relative;
  height: 600px;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin-bottom: 60px;
}
@media (max-width: 760px) {
  /* line 102, common.scss */
  #main_contents section .contact {
    height: 400px;
    background-attachment: scroll;
  }
}
/* line 114, common.scss */
#main_contents section .contact:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
}
/* line 124, common.scss */
#main_contents section .contact .inner {
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 760px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
/* line 135, common.scss */
#main_contents section .contact .inner .script {
  transform: translateY(-50%);
}
/* line 137, common.scss */
#main_contents section .contact .inner .script h1 {
  margin-bottom: 30px;
  text-align: center;
  color: #fff;
  letter-spacing: 4px;
  font-size: 4rem;
  font-weight: 600;
}
@media (max-width: 760px) {
  /* line 137, common.scss */
  #main_contents section .contact .inner .script h1 {
    font-size: 3rem;
  }
}
@media (max-width: 575px) {
  /* line 137, common.scss */
  #main_contents section .contact .inner .script h1 {
    margin-bottom: 15px;
    line-height: 1.5;
  }
}
/* line 151, common.scss */
#main_contents section .contact .inner .script h1 br {
  display: none;
}
@media (max-width: 575px) {
  /* line 151, common.scss */
  #main_contents section .contact .inner .script h1 br {
    display: block;
  }
}
/* line 158, common.scss */
#main_contents section .contact .inner .script p {
  line-height: 2;
  color: #fff;
  font-size: 1.8rem;
  text-indent: 1em;
  text-align: justify;
}
@media (max-width: 575px) {
  /* line 158, common.scss */
  #main_contents section .contact .inner .script p {
    line-height: 1.5;
    font-size: 1.5rem;
  }
}
/* line 169, common.scss */
#main_contents section .contact .inner .script .button {
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 30px;
}
/* line 173, common.scss */
#main_contents section .contact .inner .script .button a {
  display: block;
  max-width: 400px;
  line-height: 60px;
  border: 2px solid #fff;
  margin-right: auto;
  margin-left: auto;
  font-size: 2.5rem;
  color: #fff;
  text-align: center;
}
@media (max-width: 760px) {
  /* line 173, common.scss */
  #main_contents section .contact .inner .script .button a {
    max-width: 300px;
    line-height: 40px;
    font-size: 2rem;
  }
}
/* line 189, common.scss */
#main_contents section .contact .inner .script .button a:hover {
  background-color: #fff;
  color: #000;
  opacity: 0.6;
}
/* line 198, common.scss */
#main_contents section .button {
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 60px;
}
/* line 202, common.scss */
#main_contents section .button a {
  display: block;
  max-width: 400px;
  line-height: 60px;
  border: 2px solid #444;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Open Sans', Helvetica, "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-size: 2.5rem;
  color: #444;
  text-align: center;
}
@media (max-width: 760px) {
  /* line 202, common.scss */
  #main_contents section .button a {
    max-width: 300px;
    line-height: 40px;
    font-size: 2rem;
  }
}
/* line 219, common.scss */
#main_contents section .button a:hover {
  background-color: #444;
  color: #fff;
}
