/* line 4, footer.scss */
footer {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #fff;
  color: #333;
  box-shadow: 0 1px 7px 1px rgba(0, 0, 0, 0.23);
}
/* line 10, footer.scss */
footer .inner {
  position: relative;
  max-width: 1024px;
  padding-right: 15px;
  padding-bottom: 175px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (max-width: 760px) {
  /* line 10, footer.scss */
  footer .inner {
    padding-bottom: 0;
  }
}
/* line 22, footer.scss */
footer .footer_01 {
  float: right;
  text-align: right;
}
@media (max-width: 760px) {
  /* line 22, footer.scss */
  footer .footer_01 {
    float: none;
  }
}
/* line 28, footer.scss */
footer .footer_01 .logo {
  position: absolute;
  right: 30px;
  bottom: 0;
  width: 65px;
}
@media (max-width: 760px) {
  /* line 28, footer.scss */
  footer .footer_01 .logo {
    position: relative;
    right: 0;
    float: none;
    margin-right: auto;
    margin-bottom: 30px;
    margin-left: auto;
  }
}
/* line 41, footer.scss */
footer .footer_01 .logo .logo_img {
  max-width: 240px;
  margin: 0 auto;
}
/* line 45, footer.scss */
footer .footer_01 .logo .logo_img a img {
  width: 100%;
}
/* line 51, footer.scss */
footer .footer_01 ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media (max-width: 760px) {
  /* line 51, footer.scss */
  footer .footer_01 ul {
    margin-bottom: 30px;
  }
}
/* line 58, footer.scss */
footer .footer_01 ul li {
  display: inline-block;
  margin-left: 2em;
  line-height: 180%;
}
/* line 62, footer.scss */
footer .footer_01 ul li a {
  display: block;
  color: #333;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  text-align: center;
  transition: .3s ease-in-out;
}
/* line 69, footer.scss */
footer .footer_01 ul li a span {
  position: relative;
}
/* line 72, footer.scss */
footer .footer_01 ul li a span:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: -5px;
  left: 0;
  width: 0%;
  height: 2px;
  margin-right: auto;
  margin-left: auto;
  background-color: #333;
  transition: all 0.5s;
}
/* line 88, footer.scss */
footer .footer_01 ul li a:hover span:after {
  width: 100%;
  transition: all 0.5s;
}
/* line 96, footer.scss */
footer .footer_02 {
  float: left;
}
@media (max-width: 760px) {
  /* line 96, footer.scss */
  footer .footer_02 {
    float: none;
  }
}
/* line 101, footer.scss */
footer .footer_02 h3 {
  line-height: 3;
  font-size: 1.4rem;
  font-weight: 400;
}
@media (max-width: 760px) {
  /* line 101, footer.scss */
  footer .footer_02 h3 {
    font-size: 1.2rem;
  }
}
/* line 109, footer.scss */
footer .footer_02 h4 {
  margin-top: 15px;
  line-height: 2;
  font-size: 1.2rem;
  font-weight: 400;
}
@media (max-width: 760px) {
  /* line 109, footer.scss */
  footer .footer_02 h4 {
    font-size: 1rem;
  }
}

/* line 120, footer.scss */
#page_top {
  position: fixed;
  bottom: 45px;
  right: 20px;
  display: none;
}

/* line 126, footer.scss */
#page_top a {
  display: block;
  color: #fff;
  width: 86px;
  height: 85px;
  -webkit-border-radius: 20%;
  border-radius: 20%;
  background: rgba(255, 255, 255, 0);
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  transition: all 0.4s linear;
}

/* line 139, footer.scss */
#page_top a::before {
  position: absolute;
  content: "";
  vertical-align: middle;
  top: 38px;
  left: 22px;
  width: 25px;
  height: 25px;
  border-left: 4px solid #000;
  margin: auto;
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg);
}

/* line 152, footer.scss */
#page_top a::after {
  position: absolute;
  content: "";
  vertical-align: middle;
  top: 36px;
  left: 31px;
  width: 25px;
  height: 25px;
  border-top: 4px solid #000;
  margin: auto;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

@media screen and (max-width: 575px) {
  /* line 166, footer.scss */
  #page_top {
    bottom: 15px;
    right: 0;
  }

  /* line 170, footer.scss */
  #page_top a {
    width: 60px;
    height: 60px;
  }

  /* line 174, footer.scss */
  #page_top a::before {
    top: 26.5px;
    left: 17px;
    width: 20px;
    height: 20px;
    border-left: 3px solid #000;
  }

  /* line 181, footer.scss */
  #page_top a::after {
    top: 25px;
    left: 24px;
    width: 20px;
    height: 20px;
    border-top: 3px solid #000;
  }
}
