.form_wrapper {
	max-width: 980px;
	margin: 0 auto 90px;
}
.form_item {
	font-size: 1.5rem;
}
.form_item h4 {
	margin-top: 60px;
	font-size: 2rem;
}
.form_item h4 span {
	margin-left: 10px;
	font-size: 1.5rem;
	color: #fe8c34;
}
.form_item h4 span.at_will {
	color: #aaa;
}
.form_item h5 {
  margin-top: 15px;
  color: #fe8c34;
  font-size: 1.3rem;
}
.form_item .caution {
  font-size: 1.5rem;
  line-height: 1.5;
}
select{
  outline:none;
  text-overflow: '';
  background: none transparent;
  vertical-align: middle;
  font-size: inherit;
  color: inherit;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}
.item_select {
  position:relative;
}
.item_select i {
  z-index: 1;
  position: absolute;
  right: 15px;
  top: 16px;
  line-height: 52px;
  color: #777;
  font-size: 30px;
  pointer-events: none;
}
.item_select select{
  width: 100%;
  padding: 16px 20px;
  margin: 15px 0;
  border: 2px solid #ddd;
  background-color: #fff;
  color: #777;
  border-radius: 2px;
  box-shadow: 1px 1px 8px rgba(0,0,0,0.23);
}
.item_select select option{
  display: block;
  width: 100%;
  background-color: #fff;
  color: #333;
}
.item_select_day {
  position:relative;
  display: inline-block;
  margin-top: 15px;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 0;
}
.item_select_day:first-of-type {
  display: inline-block;
  margin-left: 0;
}
.item_select_day i {
  z-index: 1;
  position: absolute;
  right: 15px;
  top: 2px;
  line-height: 50px;
  color: #777;
  font-size: 30px;
  pointer-events: none;
}
.item_select_day select{
  padding-top: 16px;
  padding-right: 50px;
  padding-bottom: 20px;
  padding-left: 16px;
  border: 2px solid #ddd;
  background-color: #fff;
  color: #777;
  border-radius: 2px;
  box-shadow: 1px 1px 8px rgba(0,0,0,0.23);
}
.item_select_day select option{
  display: block;
  background-color: #fff;
  color: #333;
}
.form_item_hour {
  display: inline-block;
}
.form_item_hour .item_select_day:first-of-type {
  margin-left: 5px;
}
.item_input input {
	width: calc(100% - 44px);
	border-radius: 2px;
	border: 2px solid #ddd;
	padding: 16px 20px;
	margin: 11px 0 11px 0;
	background-color: #fff;
	box-shadow: 1px 1px 8px rgba(0,0,0,0.23);
}
.item_checkbox {
  display:  flex;
  flex-wrap: wrap;
  padding: 20px 5px 0;
}
.item_checkbox label {
  display: inline-block;
  width: 33.33%;
  padding-bottom: 30px;
}
.checkbox_input {
  display: none;
}
.checkbox_input_text {
  display: block;
  padding-left: 25px;
  position:relative;
  margin-right: 20px;
  color: #777;
  font-weight: 700;
  -ms-user-select: none; /* IE 10+ */
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.checkbox_input_text::before{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  border: 1px solid #999;
  border-radius: 4px;
}
.checkbox_input:checked + .checkbox_input_text::after{
  content: "";
  display: block;
  position: absolute;
  top: -3px;
  left: 5px;
  width: 7px;
  height: 14px;
  transform: rotate(40deg);
  border-bottom: 3px solid #9f6f55;
  border-right: 3px solid #9f6f55;
}
.item_input textarea {
	width: calc(100% - 44px);
	border-radius: 2px;
	border: 2px solid #ddd;
	padding: 16px 20px;
	margin: 11px 0 11px 0;
	background-color: #fff;
	box-shadow: 1px 1px 8px rgba(0,0,0,0.23);
}
.item_input_post input {
	border-radius: 2px;
	border: 2px solid #ddd;
	padding: 8px 10px;
	margin: 11px 0 11px 0;
	font-size: 1.4rem;
	box-shadow: 1px 1px 8px rgba(0,0,0,0.23);
}
.submit_button {
	display: block;
	min-width: 200px;
	width: 40%;
	height: 50px;
	padding: 0;
	margin-top: 15px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0;
	background: #5ab532;
	border: none;
	border-radius: 6px;
	box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.2);
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	font-family: "游ゴシック体", "Yu Gothic", YuGothic;
	transition: filter 0.2s linear;
	cursor: pointer;
}
@media screen and (max-width:1040px){
  .form_wrapper {
    margin: 0 30px 90px;
  }
  .form_item_hour {
    display: block;
  }
  .form_item_hour .item_select_day:first-of-type {
    margin-left: 0;
  }
}
@media screen and (max-width:760px){
  .item_checkbox label {
    width: 50%;
  }
}
@media screen and (max-width:575px){
	.form_item {
		margin: 0 0 20px;
		font-size: 1.3rem;
	}
  .form_item h4 {
    font-size: 1.8rem;
  }
  .form_item h4 span {
    font-size: 1.2rem;
  }
  .item_select i {
    top: 12px;
    line-height: 40px;
    font-size: 26px;
  }
  .item_select select {
    padding: 13px 16px;
    margin: 10px 0;
  }
  .item_select_day {
     margin-top: 10px;
  }
  .item_select_day i {
    right: 7px;
    line-height: 33px;
    font-size: 16px;
  }
  .item_select_day select {
    padding: 8px 20px 8px 5px;
  }
	.item_input input {
		width: calc(100% - 32px);
		padding: 13px 16px;
		margin: 5px 0;
	}
  .item_checkbox label {
    width: 100%;
    padding-bottom: 15px;
  }
  .item_checkbox label:last-child {
    padding-bottom: 0;
  }
  .checkbox_input_text {
    padding-left: 20px;
  }
  .checkbox_input_text::before {
    width: 12px;
    height: 12px;
  }
  .checkbox_input:checked + .checkbox_input_text::after {
    top: -5px;
    left: 4px;
    width: 5px;
    height: 12px;
  }
	.submit_button {
		width: 200px;
		height: 42px;
		font-size: 1.5rem;
	}
}
