$pc: 1024px; // ラップトップの幅
$tab: 760px; // タブレットの幅
$sp: 575px;  // スマホの幅
$main_color: #E98539;
.top_catch {
	padding: 400px 0;
	text-align: center;
	background-size: cover;
	background-position: center;
	height: 100%;
	@media (max-width: ($tab)) {
		padding: 300px 0;
	}
}
#main_contents {
	margin-top: 90px;
	section {
		margin-bottom: 120px;
		.section_title {
			font-family: 'Courier Prime', Helvetica, "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
			position: relative;
		  text-align: center;
		  color: #240402;
		  letter-spacing: 4px;
			font-size: 2.6rem;
			font-weight: 400;
			@media (max-width: ($sp)) {
				font-size: 2rem;
			}
			span {
				position: relative;
				display: block;
				margin-top: 40px;
				font-size: 1.4rem;
				@media (max-width: ($sp)) {
					font-size: 1.2rem;
				}
			}
			span:before {
				content: "";
				display: block;
				position: absolute;
				top: -22px;
				right: 0;
				left: 0;
				width: 50px;
				height: 2px;
				margin-right: auto;
				margin-left: auto;
				background-color: #000;
			}
		}
		.description {
			max-width: $tab;
			margin-top: 60px;
			margin-right: auto;
			margin-left: auto;
			@media (max-width: ($tab)) {
				margin-right: 15px;
				margin-left: 15px;
			}
			p {
				line-height: 2;
				font-size: 1.5rem;
				text-align: justify;
				text-indent: 1em;
				@media (max-width: ($tab)) {
					font-size: 1.5rem;
				}
			}
		}
		.news_list {
			max-width: $sp;
			padding-right: 15px;
			padding-left: 15px;
			margin-top: 40px;
			margin-right: auto;
			margin-left: auto;
			line-height: 2;
			font-size: 1.6rem;
			.column {
        padding-bottom: 20px;
        border-bottom: solid 1px #ddd;
				margin-bottom: 15px;
				.day {
					display: inline-block;
					width: 140px;
					float: left;
					letter-spacing: 0.1rem;
					@media (max-width: ($sp)) {
						display: block;
						width: auto;
						float: none;
					}
				}
				.title {
					display: inline-block;
					width: 405px;
					text-align: justify;
					@media (max-width: ($sp)) {
						display: block;
						width: auto;
					}
				}
			}
		}
		.button {
			padding-right: 15px;
			padding-left: 15px;
			margin-top: 60px;
			a {
				display: block;
				max-width: 400px;
				line-height: 60px;
				border: 2px solid #444;
				margin-right: auto;
				margin-left: auto;
				font-family: 'Open Sans', Helvetica, "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
				font-size: 2.5rem;
				color: #444;
				text-align: center;
				@media (max-width: ($tab)) {
					max-width: 300px;
					line-height: 40px;
					font-size: 2rem;
				}
			}
			a:hover {
				background-color: #444;
				color: #fff;
			}
		}
	}
}
