@charset "UTF-8";
/* line 4, style.scss */
.top_catch {
  padding: 400px 0;
  text-align: center;
  background-size: cover;
  background-position: center;
  height: 100%;
}
@media (max-width: 760px) {
  /* line 4, style.scss */
  .top_catch {
    padding: 300px 0;
  }
}

/* line 15, style.scss */
#main_contents section {
  margin-bottom: 120px;
}
/* line 17, style.scss */
#main_contents section .section_title {
  font-family: 'Courier Prime', Helvetica, "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  position: relative;
  text-align: center;
  color: #240402;
  letter-spacing: 4px;
  font-size: 2.6rem;
  font-weight: 400;
}
@media (max-width: 575px) {
  /* line 17, style.scss */
  #main_contents section .section_title {
    font-size: 2rem;
  }
}
/* line 28, style.scss */
#main_contents section .section_title span {
  position: relative;
  display: block;
  margin-top: 40px;
  font-size: 1.4rem;
}
@media (max-width: 575px) {
  /* line 28, style.scss */
  #main_contents section .section_title span {
    font-size: 1.2rem;
  }
}
/* line 37, style.scss */
#main_contents section .section_title span:before {
  content: "";
  display: block;
  position: absolute;
  top: -22px;
  right: 0;
  left: 0;
  width: 50px;
  height: 2px;
  margin-right: auto;
  margin-left: auto;
  background-color: #000;
}
/* line 51, style.scss */
#main_contents section .feature {
  margin-top: 60px;
}
/* line 53, style.scss */
#main_contents section .feature .img_wrapper {
  max-width: 1024px;
  margin-right: auto;
  margin-left: auto;
}
/* line 57, style.scss */
#main_contents section .feature .img_wrapper img {
  width: 100%;
}
/* line 61, style.scss */
#main_contents section .feature .description {
  max-width: 760px;
  margin-top: 60px;
  margin-right: auto;
  margin-left: auto;
}
@media (max-width: 760px) {
  /* line 61, style.scss */
  #main_contents section .feature .description {
    margin-right: 15px;
    margin-left: 15px;
  }
}
/* line 70, style.scss */
#main_contents section .feature .description p {
  line-height: 2;
  font-size: 1.5rem;
  text-align: justify;
  text-indent: 1em;
}
@media (max-width: 760px) {
  /* line 70, style.scss */
  #main_contents section .feature .description p {
    font-size: 1.5rem;
  }
}
/* line 81, style.scss */
#main_contents section .history_list {
  max-width: 1024px;
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
  line-height: 2;
  font-size: 1.6rem;
  text-align: left;
}
/* line 91, style.scss */
#main_contents section .history_list tbody {
  width: 100%;
}
/* line 93, style.scss */
#main_contents section .history_list tbody .column {
  display: flex;
  padding-bottom: 20px;
  border-bottom: solid 1px #ddd;
  margin-bottom: 15px;
}
@media (max-width: 1024px) {
  /* line 93, style.scss */
  #main_contents section .history_list tbody .column {
    display: block;
  }
}
/* line 101, style.scss */
#main_contents section .history_list tbody .column .day {
  display: inline-block;
  width: 140px;
  padding: 0;
  font-weight: 400;
  letter-spacing: 0.1rem;
}
@media (max-width: 1024px) {
  /* line 101, style.scss */
  #main_contents section .history_list tbody .column .day {
    display: block;
  }
}
/* line 111, style.scss */
#main_contents section .history_list tbody .column .title {
  display: inline-block;
  text-align: justify;
}
